@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main-page-layout{
    @apply 
    flex 
    min-h-screen 
    flex-col 
    items-center 
    p-3
    bg-black 
   
}


.basic-button{
    @apply
    p-1
    rounded
    m-1
}